[user]
  name = Pramendra Gupta
  email = pramendra@gmail.com

[github]
  user = pramendra

[core]
  excludesfile = ~/.gitignore_global
  editor = nano
  filemode = false
  trustctime = false
    autocrlf = input